<!--
============================================
; Title: Assignment 5.4 - EMS (Milestone 1)
; File Name: new.ejs
; Author: Professor Krasso
; Date: 13 February 2022
; Modified By: Seth Kerrey
; Description:
;   New - EJS views page for node app.
; Resources:
;
========================
-->

<!-- 

new.ejs
Data entry page -->

<!DOCTYPE html>
<html lang="en">
    <%- include("header") %> <!-- header.ejs -->
    <body>
        <%- include("navbar") %> <!-- navbar.ejs -->
          
        
        <h1 class="text-center mt-5 pt-5">Welcome to the Data Entry Page!</h1>
        <h4 class="text-center font-italic">(new.ejs)</h4>
        
        <div class="d-flex justify-content-center pt-3 pb-5">
            <div class="border pb-5" style="width:60%;height:400px;">
                
                <form method="post" action="/process">

                    <!-- First Name -->
                    <div class="form-group">
                        <label for="txtFirstName">First Name:</label>
                        <input type="text" class="form-control" id="txtFirstName" placeholder="First Name" name="txtFirstName" required>
                    </div>

                    <!-- Last Name -->
                    <div class="form-group">
                        <label for="txtLastName">Last Name:</label>
                        <input type="text" class="form-control" id="txtLastName" placeholder="Last Name" name="txtLastName" required>
                    </div>

                    <div class="form-group">
                        <!-- CSRF token -->
                        <input name="_csrf" value="<%= csrfToken %>" type="hidden" />
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>

                </form>
            </div>
        </div>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/" role="button">Return</a>
        </div>
        
        

        <%- include("footer") %> <!-- footer.ejs -->

        <%- include("scripts") %> <!-- scripts.ejs -->
    </body>
</html>